MVP-Plugin/.idea
MVP-Plugin/out
MVP-Plugin/*.jar
MVP-Plugin/*.iml

MvpPluginTest/*.iml
MvpPluginTest/.gradle
MvpPluginTest/local.properties
MvpPluginTest/.idea/caches

MvpPluginTest/build
MvpPluginTest/.idea/libraries
MvpPluginTest/.idea/modules.xml
MvpPluginTest/.idea/workspace.xml
MvpPluginTest/.idea/navEditor.xml
MvpPluginTest/.idea/assetWizardSettings.xml
MvpPluginTest/build
MvpPluginTest/captures
MvpPluginTest/.externalNativeBuild
MvpPluginTest/app/build
MvpPluginTest/MvpPluginTest/build
